body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgoldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.notePadArea {
  min-height: max(650px, 100vh);
  min-width: max(350px, 100vw);
  background-color: #474747;
  position: relative;
}
.visibility {
  display: flex;
}
@media screen and (max-height: 650px) {
  .loadingAnimationContainer {
  }
}
@media screen and (max-height: 450px) {
  .loadingAnimationContainer {
  }
}
@media screen and (max-height: 350px) {
  .loadingAnimationContainer {
  }
}
